.git
.github
.gitignore

.venv
venv
__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache

assets
dataset
logs
opt
TEMP
tmp
weights

*.7z
*.flac
*.index
*.mp3
*.mp4
*.onnx
*.pth
*.pt
*.tar
*.tar.gz
*.wav
*.zip

.DS_Store
